@font-face {
    font-family: 'Local Timer';
    src: url('../assets/fonts/Khand-Regular.ttf');
}

@font-face {
    font-family: 'Local Progress';
    src: url('../assets/fonts/JosefinSans-Regular.ttf');
}