page {
	// 颜色
	--color-black: #3D3D3D;
	--color-white: #FFFFFF;
	--color-dark-gray: #686868;
	--color-light-gray: #D9D9D9;
	--color-green: #21FF53;
	--color-red: #FF616A;
	--color-yellow: #FFEA30;
	--color-blue: #18BAFF;
	--color-ts-black: #3D3D3D88;
	--color-ts-black-deep: #3D3D3Db9;
	--color-ts-dark-gray: #68686888;
	--color-ts-dark-gray-deep: #52525288;
	--color-ts-green: #21FF5388;
	--color-ts-green-deep: #12bd3a88;
	--color-ts-red: #f62e3888;
	--color-ts-red-deep: #c51d2588;
	--color-ts-yellow: #FFEA3088;
	--color-ts-yellow-deep: #b9a91888;
	--color-ts-blue: #18BAFF88;
	--color-ts-blue-deep: #037aad88;
	--color-lg-green: linear-gradient(180deg, rgba(0, 174, 213, 0.46) 0%, #39C859 100%);
	--color-lg-red: linear-gradient(180deg, rgba(182, 30, 220, 0.76) 0%, #FF5252 100%);
	--color-lg-yellow: linear-gradient(180deg, rgba(255, 122, 0, 0.6) 0%, #EEDD43 100%);
	--color-lg-blue: linear-gradient(180deg, rgba(67, 36, 255, 0.64) 0%, #46AFDC 100%);
	// 阴影
	--shadow-drop-black: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.36));
	--shadow-drop-heavy-black: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.36));
	--shadow-drop-white: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.36));
	--shadow-drop-heavy-white: drop-shadow(0px 0px 15px rgba(255, 255, 255, 1));
}
