page {
	// 颜色
	--color-black: #3D3D3D;
	--color-white: #FFFFFF;
	--color-dark-gray: #686868;
	--color-light-gray: #D9D9D9;
	--color-transparent: #FFFFFF00;
	--color-green: #21FF53;
	--color-red: #FF616A;
	--color-yellow: #FFEA30;
	--color-blue: #18BAFF;
	--color-lg-green: linear-gradient(180deg, rgba(0, 174, 213, 0.46) 0%, #39C859 100%);
	--color-lg-red: linear-gradient(180deg, rgba(182, 30, 220, 0.76) 0%, #FF5252 100%);
	--color-lg-yellow: linear-gradient(180deg, rgba(255, 122, 0, 0.6) 0%, #EEDD43 100%);
	--color-lg-blue: linear-gradient(180deg, rgba(67, 36, 255, 0.64) 0%, #46AFDC 100%);
	// 阴影
	--shadow-drop-black: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.36));
	--shadow-drop-white: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.36));
	--shadow-drop-heavy-white: drop-shadow(0px 0px 10px rgba(255, 255, 255, 1));
}
